<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=glennrm19;AccountKey=tDMidYq704D4isMmdtSy/GFInMEYdjQ8oR/vHy3mLdNlZs4vmX6GxL+hS8HnGBfWOKrzCg6HT6hskHoNAdVsOQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>